<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- <h1 style="background-color: cadetblue; color: white; text-align: center;">CUSTOMER</h1>

    {% for i in products %}
       <p>{{i.name}}</p>
    {%endfor%}

 -->
  
  <h1 class=" text-center" style="color: white; background-color: rgb(16, 56, 96); ">
    <span class="material-symbols-outlined" style="height: 70px;">
        shopping_cart_checkout
        </span>
    e-GADGETS</h1>

    <h3 style="color: rgb(2, 170, 55);">WELCOME, <i>{{request.user.first_name}} {{request.user.last_name}}</i></h3>






    {% if messages %}
    {% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <button class="close" data-dismiss="alert">&times;</button>
        {{i}}
    </div>
    {%endif%}
    {%endfor%}
    {% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
        <button class="close" data-dismiss="alert">&times;</button>
        {{i}}
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}


<div class="row">
    {% for i in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="300px" width="300px" src="{{i.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.category}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item">Cras justo odio</li> -->
          <!-- <li class="list-group-item">{{i.description}}</li>
          <li class="list-group-item">RS:{{i.price}}</li> -->
        </ul>
        <div class="card-body">
          <a href="{% url 'pdet' i.id %}" class="card-link btn btn-warning">view More</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    {%endfor%}

</div>
   
</body>

</html>